@font-face {
  font-family: 'MADEMirage-Black';
  src:url("assets/MADEMirage-Black.ttf.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  background-image: url("assets/if_still1.jpeg");
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: center;
}


header {
  font-family: 'MADEMirage-Black';
  font-size: 2.2em;
  color: rgb(255, 136, 0);
  margin-top: -10px;
  height: 20%;
}

h2 {
  font-family: 'MADEMirage-Black';
  color: rgb(255, 136, 0);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 80%;
}

.center-container, aside {
  border: 10px solid rgba(0, 0, 0, 0);
  border-radius: 30px;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.563);
  color: white;
}

.center-container {
  min-width: 60%;
}

aside {
  min-width: 15%;
}
